:root {
  --bg-color: #ffe8c2;
  --bg-card: #fff5e0;
  --txt-secondary-col: #d59710;

  --fold-width: 1080px;
  --max-width: 896px;
  --border-radius: 56px;
  --button-radius: 42px;

  --text-s-size: 18px;
}

@media (width <= 540px) {
  :root {
    --border-radius: 32px;
  }
}
